.list-group-item {
	display: flex;
	justify-content: center;
}

.list-group-item div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60px;
}

.list-group-item label {
	margin-bottom: 0px;
	flex: 1;
	text-align: left;
}

.list-group-item input {
	width: 50%;
	margin: 0;
}

.well {
	text-align: center;
}

.well strong {
	margin-left: 60px;
}

.buss-name {
	font-weight: bold;
	font-size: 1.5em;
}

.stars {
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}

@media (max-width: 573px) {
	.well strong {
		margin-left: 0px;
		margin-top: 5px;
		display: block;
	}
}